
<div
  class="modal fade"
  id="verMapa"
  tabindex="-1"
  aria-labelledby="modalDibujarMapa"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Mapa del Camposanto
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row col-12">
          <div class="text-center" *ngIf="!this.show ">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="agm-container col-12 p-1" *ngIf="show ">
            <agm-map
              [latitude]="lat"
              [longitude]="lng"
              [zoom]="zoom"
              [disableDefaultUI]="false"
            >
              <agm-polygon
                [paths]="markers"
                [strokeColor]="'red'"
                [fillColor]="'red'"
              >
              </agm-polygon>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">
          CERRAR
        </button>
      </div>
    </div>
  </div>
</div>
