.contenido {
    /* margin-top: 5px;
    margin-bottom: 0; */
    margin-right: 10px;
    margin-left: 200px;
}

.inner-content {
  /* margin-top: 75px; */
  padding: 24px;
  background: #fff;
  min-height: 100%;
  /* overflow-y: scroll; */
}