<div class="modal fade" id="mapaModalEditar" tabindex="-1" aria-labelledby="modalDibujarMapa" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dibujar mapa del camposanto</h5>
          <button type="button" 
            #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div *ngIf="alertError">
              <div class="alert alert-danger" role="alertError">
                <small>No ha seleccionado los puntos, por favor dibuje el poligono</small>
              </div>
            </div>
            <div class="form-row col-12">
              
                <div class="agm-container col-11 p-1">
                  <div class="d-flex justify-content-center" *ngIf="loaded == false">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                    <agm-map
                      [zoom]="zoom"
                      [latitude]="lat"
                      [longitude]="lng"
                      (mapReady)="onMapReady($event)"
                    >
                    </agm-map>
                </div>
                <div class="col-1">
                    <div class="container">
                        <div class="row">
                            <div class="mx-auto">
                                <button class="btn btn-danger btn-sm" type="button"  (click) = "deleteSelectedShape()">
                                    <fa-icon [icon]="faEraser"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button"  id="closeModal" (click) = "actualizarPuntos()">ACTUALIZAR</button>
        </div>
      </div>
    </div>
</div>