agm-map {
    height: 380px;
}
.btn {
    background-color: #a3c442;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  
  }