<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" id="ulGeneral">
    <li id="buttonColapse">
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
        (click)="cambiar()"
      ></i>
    </li>
    <li>
      <img src="assets/icons/LOGO.png" alt="" id="logo">
    </li>
    <li>
      <h6>{{nombreEmpresa}} {{nombreCamposanto}}</h6>
    </li>
    <li class="alinear">
      <span (click)="logout()" id="spanLogout" ><img src="assets/icons/INICIO.png" alt="" id="imgInicio"> <b>Cerrar Sesión</b></span>
      <!-- <span class="paddingCont">{{nameUsuario}}</span>
            <button nz-button nzType="primary" class="paddingCont">Salir</button> -->
      <!-- <nz-button-group>
        <button nz-button>{{ nameUsuario }}</button>
        <button
          nz-button
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzPlacement="bottomRight"
        >
          <i nz-icon nzType="user"></i>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <i nz-icon nzType="user-switch"></i>
            <span>{{ tipoUsuario }}</span>
          </li>
          <li nz-menu-item [routerLink]="['/configuracion']">
            <i nz-icon nzType="setting"></i>
            <span>Configuracion</span>
          </li>
          <li nz-menu-item (click)="logout()">
            <i nz-icon nzType="import"></i>
            <span>Salir</span>
          </li>
        </ul>
      </nz-dropdown-menu> -->
    </li>
  </ul>
</nz-header>
