#divFondo{
    width: 100%;
    height: 100%;
}
#fondoDiv{
    width: 100%;
    height: 100%;
    position: absolute;
}
#containerLogo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#addCementerioLabel{
    padding: 0 15px 0;
    font-weight: 700;
}
#formCol{
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 90%;
    background: white;
    padding: 0 15px 0;
    border-radius: 15px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

#formCol{
    scrollbar-width: thin;
    scrollbar-color: #bdbdbe #edeef0;
}
#formCol::-webkit-scrollbar {
    width: 12px;
}
#formCol::-webkit-scrollbar-track {
    background: #edeef0;
}
#formCol::-webkit-scrollbar-thumb {
    background-color: #bdbdbe;
    border-radius: 20px;
    border: 3px solid #edeef0;
}

#divImg{
    text-align: center;
    margin: 10px 0 25px;
}
#fondoImg{
    width: 35%;
}

#divForm{
    width: 100%;
    height: 100%;
}
form{
    width: 100%;
    height: 100%;
}

label{
    font-size: 0.75em;
}

input{
    font-size: 0.75em;
    background: #edeef0;
    color: #87868a;
}

.rowRS{
    margin-bottom: 5px;
}
.rowRed{
    padding: 0;
}
.campo-req{
    color: red;
}
.dangerColor{
    color: red;
    font-size: 20px;
}
.sizeFont {
    font-size: 11px;
}

.lNegrita {
    font-size: 0.55em;
    font-weight: 600;
}
#closeIconTimes{
    display: block;
    margin-left: auto;
    padding-top: 10px;
}
select{
    font-size: 0.75em;
}

#agregarButton{
    background: #a3c442;
    color: #ffffff;
    border-radius: 0px;
    width: 130%;
}
#agregarButton span{
    font-size: 0.65em;
}
#rowButton{
    padding-right: 45px;
}
#cargarMapaButton{
    background: #a3c442;
    color: #ffffff;
    border-radius: 5px;
    border-color: #a3c442;
}
#colPlusMinus{
    margin-left: 15px;  
}
#faIconClose{
    cursor: pointer;
}