<!--<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <!- <li class="breadcrumb-item"><a routerLink="/inicio/dashboard">Cementerios</a></li> ->
    <li class="breadcrumb-item"><a routerLink="/inicio/perfil/{{this.id.camposanto}}">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/inicio/difuntos">Difuntos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registro difuntos</li>
  </ol>
</nav>-->

<div *ngIf="!editando"class="d-flex flex-row mt-2" >
  <div class=" ml-3 mr-3">
    <a class="titulo font-weight-bold " routerLink="/inicio/difuntos">FALLECIDOS</a>
  </div>
  <div class= " m-0 p-0 ">
    <mat-icon class="icono m-0 p-0 mt-2 " svgIcon="flecha2" ></mat-icon>
  </div>
  <div class=" ml-0 pr-5 mr-5">
    <h2 class="subtitulo ml-3 pl-0 mt-2">Registrar fallecido</h2>
  </div>
</div>

<div *ngIf="editando" class="d-flex flex-row mt-2" >
  <div class=" ml-3 ">
    <a class="titulo font-weight-bold " routerLink="/inicio/difuntos">FALLECIDOS</a>
  </div>
  <div class= " m-0 p-0 ">
    <mat-icon class="icono m-0 p-0 mt-2 " svgIcon="flecha2" ></mat-icon>
  </div>
  <div class=" ml-0 pr-5 mr-5">
    <h2 class="subtitulo ml-0 pl-0 mt-2">Editar fallecido</h2>
  </div>
</div>

<!--<div *ngIf="!editando" class="row">
  <div class="col-12">
    <h1> Registro de difuntos</h1>
  </div>
</div>

<div *ngIf="editando" class="row">
  <div class="col-12">
    <h1> Editar difuntos</h1>
  </div>
</div>-->

<div class="container-fluid mt-5 ml-5">
  <div class="row mb-4">
    <div class="col-12">
      <h3 class="font-italic">Información personal</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="difuntoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label for="firstName" class="font-weight-bold"><i class="campo-req"></i> Nombres</label>
              <input type="text" formControlName="firstName" class="form-control inputs"  />
              <div
                *ngIf="difuntoForm.controls['firstName'].invalid && (difuntoForm.controls['firstName'].dirty || difuntoForm.controls['firstName'].touched)">

                <div class="text-danger"
                  *ngIf="difuntoForm.controls['firstName'].touched && difuntoForm.controls['firstName'].errors.required">
                  <small>Este campo es obligatorio.</small>
                </div>
              </div>
            </div>

          </div>
          <div class="col-5">
            <div class="form-group">
              <label for="lastName" class="font-weight-bold"><i class="campo-req"></i> Apellidos</label>
              <input type="text" formControlName="lastName" class="form-control inputs" 
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div
                *ngIf="difuntoForm.controls['lastName'].invalid && (difuntoForm.controls['lastName'].dirty || difuntoForm.controls['lastName'].touched)">

                <div class="text-danger"
                  *ngIf="difuntoForm.controls['lastName'].touched && difuntoForm.controls['lastName'].errors.required">
                  <small>Este campo es obligatorio.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <label class="font-weight-bold"><i class="campo-req"></i> Género:</label>
              <select class="custom-select inputs" formControlName="generoDropdown" placeholder="Seleccione un género" 
                [ngClass]="{ 'is-invalid': submitted && f.generoDropdown.errors }">
                <option value=""></option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
              </select>
              <!-- <div *ngIf="submitted && f.generoDropdown.errors" class="invalid-feedback"> -->
                <div *ngIf="difuntoForm.controls['generoDropdown'].touched && difuntoForm.controls['generoDropdown'].hasError('required')" class="text-danger"><small>Seleccione una opción</small></div>
              <!-- </div> -->
            </div>

          </div>
          <div class="col-5">
            <div class="form-group">
              <label for="cedula" class="font-weight-bold"><i class="campo-req"></i> No. de cédula</label>
              <input type="text" [pattern]="numericNumberReg" formControlName="cedula" class="form-control inputs" value="{{difunto.cedula}}"
                minlength="10" maxlength="10" />
              <div
                *ngIf="difuntoForm.controls['cedula'].invalid && (difuntoForm.controls['cedula'].dirty || difuntoForm.controls['cedula'].touched)">
                <div class="text-danger" *ngIf="difuntoForm.controls['cedula'].errors.required">
                  <small>Este campo es obligatorio.</small>
                </div>
                <div class="text-danger"
                  *ngIf="difuntoForm.controls['cedula'].errors.maxlength || difuntoForm.controls['cedula'].errors.minlength">
                  <small>La longitud del campo es de 10.</small>
                </div>
                <div class="text-danger" *ngIf="difuntoForm.controls['cedula'].errors.pattern">
                  <small>Ingrese un valor válido.</small>
                </div>

              </div>


            </div>
          </div>
        </div>

        

        <div class="row">
          <div class="col-5">
            <div class="row"> 
              <label class="font-weight-bold col-12">Fecha de nacimiento:</label>
              <div class="col-12">
                <div class="row">
    
                  <div class="col-4">
                    <div class="form-group">
                      <label class="font-weight-bold">DD:</label>
                      <select class="custom-select inputs" formControlName="dayBirth" placeholder="DD"
                        (change)="onChangeBirthDay($event.target.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.dayBirth.errors }" id="daysBirth">
                        <option selected disabled>DD</option>
                      </select>
                      <div *ngIf="submitted && f.dayBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.dayBirth.errors"><small>Seleccione una opción</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="font-weight-bold">MM:</label>
                      <select class="custom-select inputs" formControlName="monBirth"
                        (change)="onChangeBirthMonth($event.target.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.monBirth.errors }">
                        <option selected disabled>MM</option>
                        <option *ngFor="let mon of monthNames" [value]=mon>{{mon}}</option>
                      </select>
                      <div *ngIf="submitted && f.monBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.monBirth.errors"><small>Seleccione una opción</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="font-weight-bold ">YY:</label>
                      <select class="custom-select inputs" formControlName="yearBirth"
                        (change)="onChangeBirthYear($event.target.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.yearBirth.errors }" id="yearBirthSelector">
                        <option selected disabled>YY</option>
    
                      </select>
                      <div *ngIf="submitted && f.yearBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.yearBirth.errors"><small>Seleccione una opción</small></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          <div class="col-6 ">
            <div class="form-group">
              <div class="form-row">
                <label for="birthPlace" class="font-weight-bold"><i class="campo-req"></i> Lugar de nacimiento</label>
              </div>
              <div class="form-row mt-2 pt-1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input type="text"
                        formControlName="birthPlace"
                        [ngClass]="{ 'is-invalid': submitted && f.birthPlace.errors }"
                        aria-label="Number"
                        matInput
                        [matAutocomplete]="autoNacimi">
                  <mat-autocomplete #autoNacimi="matAutocomplete">
                    <mat-option *ngFor="let optionNacimi of filteredOptions_nacimiento | async" [value]="optionNacimi">
                      {{optionNacimi}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="form-row">
                <div
                  *ngIf="difuntoForm.controls['birthPlace'].invalid && (difuntoForm.controls['birthPlace'].dirty || difuntoForm.controls['birthPlace'].touched)">
                  <div class="text-danger" *ngIf="difuntoForm.controls['birthPlace'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="row">
          
        </div>

        <div class="row">
          <div class="col-5">
            <div class= "row">
              <label class="font-weight-bold col-12">Fecha de defunción:</label>
              <div class="col-12">
                <div class="row">
    
                  <div class="col-4">
                    <div class="form-group">
                      <label class="font-weight-bold">DD:</label>
                      <select class="custom-select inputs" formControlName="dayDeath"
                        (change)="onChangeDeathDay($event.target.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.dayDeath.errors }" id="daysDeath">
                        <option selected disabled>DD</option>
    
                      </select>
                      <div *ngIf="submitted && f.dayDeath.errors" class="invalid-feedback">
                        <div *ngIf="f.dayDeath.errors"><small>Seleccione una opción</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="font-weight-bold">MM:</label>
                      <select class="custom-select inputs" formControlName="monDeath" placeholder="MM"
                        (change)="onChangeDeathMonth($event.target.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.monDeath.errors }">
                        <option selected disabled>MM</option>
                        <option *ngFor="let mon of monthNames" [value]=mon>{{mon}} </option>
                      </select>
                      <div *ngIf="submitted && f.monDeath.errors" class="invalid-feedback">
                        <div *ngIf="f.monDeath.errors"><small>Seleccione una opción</small></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label class="font-weight-bold">YY:</label>
                      <select class="custom-select inputs" formControlName="yearDeath"
                        (change)="onChangeDeathYear($event.target.value)"
                        [ngClass]="{ 'is-invalid': submitted && f.yearDeath.errors }" id="yearDeathSelector">
                        <option selected disabled>YY</option>
                      </select>
                      <div *ngIf="submitted && f.yearDeath.errors" class="invalid-feedback">
                        <div *ngIf="f.yearDeath.errors"><small>Seleccione una opción</small></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-6">
            <div class="form-group">
              <div class="form-row">
                <label for="deathPlace" class="font-weight-bold "><i class="campo-req"></i> Lugar de defunción</label>
              </div>
              <div class="form-row mt-2 pt-1">
                <mat-form-field class="example-full-width" appearance="fill">
                  <input type="text"
                        formControlName="deathPlace"
                        [ngClass]="{ 'is-invalid': submitted && f.deathPlace.errors }"
                        aria-label="Number"
                        matInput
                        [matAutocomplete]="autoFalleci">
                  <mat-autocomplete #autoFalleci="matAutocomplete">
                    <mat-option *ngFor="let optionFalleci of filteredOptions_fallecimiento | async" [value]="optionFalleci">
                      {{optionFalleci}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="form-row">
                <div
                  *ngIf="difuntoForm.controls['deathPlace'].invalid && (difuntoForm.controls['deathPlace'].dirty || difuntoForm.controls['deathPlace'].touched)">
                  <div class="text-danger" *ngIf="difuntoForm.controls['deathPlace'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4 mt-2">
          <div class="col-12">
            <h3 class="font-italic">Datos de ubicación</h3>
          </div>
        </div>
        <div class="row ">
            <div class="col-5">
              <label class="font-weight-bold"><i class="campo-req" ></i> Datos de ubicación:</label>
            </div>
            <div class="col-5">
              <label class="font-weight-bold"><i class="campo-req" ></i> Ubicación en mapa:</label>
            </div>
         
        </div>
        <div class="row">
          
          
          <div class="col-3">
            <div class="form-group">
              <!--<label class="font-weight-bold"><i class="campo-req"></i> Sector:</label>-->
              <select class="custom-select inputs" formControlName="sector" placeholder="Sector"
                (change)="onChangeSector($event.target.value)"
                >
                <option value="">Sector</option>
                <option *ngFor="let sec of lista_sector" [value]=sec.nombre>{{sec.nombre}}</option>
              </select>
              <div
                  *ngIf="difuntoForm.controls['sector'].invalid && (difuntoForm.controls['sector'].dirty || difuntoForm.controls['sector'].touched)">
                  <div class="text-danger" *ngIf="difuntoForm.controls['sector'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-6 offset-2">
             
            <button class="btn btn-success ubicacionBtn" data-toggle="modal" data-target="#mapaDifuntoModal" (click)="puntosBoton()"
              >
              Elegir ubicación</button>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <!--<label class="font-weight-bold"><i class="campo-req"></i> Tipo de sepultura:</label>-->
                <select required formControlName="tipoSepultura" class="form-control custom-select inputs" id="sepultura"
                  
                  (change)="onChangeSepultura($event.target.value)">
                  <option value="">Tipo de sepultura</option>
                  <option [value]="sep.nombre" *ngFor="let sep of lista_sepultura" >{{sep.nombre}}</option>
                </select>
              <div
                  *ngIf="difuntoForm.controls['tipoSepultura'].invalid && (difuntoForm.controls['tipoSepultura'].dirty || difuntoForm.controls['tipoSepultura'].touched)">
                  <div class="text-danger" *ngIf="difuntoForm.controls['tipoSepultura'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-3">
            <div class="form-group">
              <!--<label for="lapida" class="font-weight-bold"><i class="campo-req"></i> No. de lapida</label>-->
              <input type="text" formControlName="lapida" class="form-control inputs" placeholder="N° de lápida"/>
              <div
                *ngIf="difuntoForm.controls['lapida'].invalid && (difuntoForm.controls['lapida'].dirty || difuntoForm.controls['lapida'].touched)">
                <div class="text-danger" *ngIf="difuntoForm.controls['lapida'].errors.required">
                  <small>Este campo es obligatorio.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mt-4 mb-4">
          <div class="col-12">
            <h3 class="font-italic" >Información de contacto responsable</h3>
          </div>
        </div>
        <form [formGroup]="responsableForm">
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="NombreRes" class="font-weight-bold"><i class="campo-req"></i> Nombres del responsable: </label>
                <input type="text" formControlName="NombreRes" class="form-control inputs" />
                <div
                  *ngIf="responsableForm.controls['NombreRes'].invalid && (responsableForm.controls['NombreRes'].dirty || responsableForm.controls['NombreRes'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['NombreRes'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="ApellidoRes" class="font-weight-bold"><i class="campo-req"></i> Apellidos del responsable:</label>
                <input type="text" formControlName="ApellidoRes" class="form-control inputs" />
                <div
                  *ngIf="responsableForm.controls['ApellidoRes'].invalid && (responsableForm.controls['ApellidoRes'].dirty || responsableForm.controls['ApellidoRes'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['ApellidoRes'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="telefono" class="font-weight-bold"><i class="campo-req "></i> Teléfono del responsable:</label>
                <input type="text"  formControlName="telefono" class="form-control inputs" minlength="9"
                  maxlength="9" />
                <div
                  *ngIf="responsableForm.controls['telefono'].invalid && (responsableForm.controls['telefono'].dirty || responsableForm.controls['telefono'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['telefono'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                  <div class="text-danger"
                    *ngIf="responsableForm.controls['telefono'].errors.minlength ||responsableForm.controls['telefono'].errors.maxlength">
                    <small>La longitud del campo es 9.</small>
                  </div>
                  <div class="text-danger" *ngIf="responsableForm.controls['telefono'].errors.pattern">
                    <small>Ingrese un valor válido.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="correo" class="font-weight-bold">Correo del responsable:</label>
                <input type="email" formControlName="correo" class="form-control inputs" />
                <div
                  *ngIf="responsableForm.controls['correo'].errors && (responsableForm.controls['correo'].dirty || responsableForm.controls['correo'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['correo'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                  <div class="text-danger" *ngIf="responsableForm.controls['correo'].errors.email">
                    <small>Ingrese un valor válido.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="celular" class="font-weight-bold"><i class="campo-req"></i> Celular del responsable:</label>
                <input type="text" formControlName="celular" class="form-control inputs" minlength="10" maxlength="10"/>
                <div
                  *ngIf="responsableForm.controls['celular'].invalid && (responsableForm.controls['celular'].dirty || responsableForm.controls['celular'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['celular'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                  <div class="text-danger"
                    *ngIf="responsableForm.controls['celular'].errors.minlength ||responsableForm.controls['celular'].errors.maxlength">
                    <small>La longitud del campo es 10.</small>
                  </div>
                  <div class="text-danger" *ngIf="responsableForm.controls['celular'].errors.pattern">
                    <small>Ingrese un valor válido.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label class="font-weight-bold"><i class="campo-req" ></i>  Parentesco:</label>
                <select class="custom-select inputs" formControlName="parentesco" placeholder="Seleccione un parentesco">
                  <option>Hijo/a</option>
                  <option>Esposo/a</option>
                  <option>Nieto/a</option>
                  <option>Hermano/a</option>
                  <option>Primo/a</option>
                  <option>Indefinido</option>
                  <option>Otro</option>
                </select>
                <div
                  *ngIf="responsableForm.controls['parentesco'].invalid && (responsableForm.controls['parentesco'].dirty || responsableForm.controls['parentesco'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['parentesco'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label for="direccion" class="font-weight-bold"><i class="campo-req"></i> Dirección del responsable:</label>
                <input type="text" formControlName="direccion" class="form-control inputs" />

                <div
                  *ngIf="responsableForm.controls['direccion'].invalid && (responsableForm.controls['direccion'].dirty || responsableForm.controls['direccion'].touched)">
                  <div class="text-danger" *ngIf="responsableForm.controls['direccion'].errors.required">
                    <small>Este campo es obligatorio.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div *ngIf="responsableForm.value.parentesco == 'Otro' " class="form-group">
                <label for="otro" class="font-weight-bold">Ingrese otro tipo de parentesco: </label>
                <input formControlName="otro" class="form-control inputs">
              </div>
            </div>
          </div>
        </form>
        <div class="form-group mt-10 container-fluid mr-5 pr-5 mt-3">
          <div class="row  mr-5 pr-5">
              <button *ngIf="!editando" class="btn btnSend col-2 pt-3  pb-3 align-self-end offset-10" [disabled]="(!difuntoForm.valid)||(!responsableForm.valid)">AGREGAR</button>
              <button *ngIf="editando"  class="btn btnSend col-2 pt-3  pb-3 align-self-end offset-10" [disabled]="(!difuntoForm.valid)||(!responsableForm.valid)">EDITAR
                </button>  
          </div>
        </div>
      
      </form>
    </div>
  </div>

</div>

<div class="modal fade" id="mapaDifuntoModal" tabindex="-1" aria-labelledby="mapaDifuntoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar punto de geolocalizacion del difunto</h5>
        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="alertError">
          <div class="alert alert-danger" role="alertError">
            <small>No ha seleccionado el punto de donde esta el fallecido, por favor dibuje el poligono</small>
          </div>
        </div>
        <div class="form-row col-12">
          <div class="agm-container col-12 p-1">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
              (mapClick)="crearPunto($event)">
              <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="'F'"
                [markerDraggable]="true" (dragEnd)="reescribirRuta(m, $event)">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cargarPunto()">Cargar</button>
      </div>
    </div>
  </div>
</div>

