input {
  font-size: 0.75em;
  background: #edeef0;
  color: #87868a;
}

h5 {
  font-weight: bolder;
}

textarea {
  font-size: 0.75em;
  background: #edeef0;
  color: #87868a;
}

.dangerColor {
  color: red;
  font-size: 20px;
}

#closeModalCPA {
  background: #a3c442;
  color: #ffffff;
  border-radius: 0px;
}

#closeModalCPA span {
  font-size: 0.95em;
}

select {
  background-color: #edeef0;
  color: #87868a;
}
