<div class="row ml-1 mr-1 align-items-center">
    <div class="col-md-7 col-xs-12 col-sm-12">
      <h1>SUGERENCIAS</h1>
    </div>
    <div class="col-md-1 col-xs-12 col-sm-12">
     
    </div>
    <div
      class="col-md-4 col-xs-12 col-sm-12"
      style="font-size: 12px; margin-top: 1px"
    >
      <mat-form-field appearance="fill">
        <input
          matInput
          type="text"
          (keyup)="doFilter($event.target.value)"
          placeholder="Buscar"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  
  <div class="container-fluid">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortStart="desc"
      class="mat-elevation-z8 punteroHand"
    >
      <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Imagen</th>
        <td mat-cell *matCellDef="let element">

          <img
            *ngIf="element.imagen != null"
            class="imagenPaquete"
            src="{{ url_backend }}{{ element.imagen }}"
            alt="Sin imagen adjunta"
            title=""
            href="#" (click)="selectRow(mytemplate, element.imagen)"
          />
          <p *ngIf="element.imagen == null" class="pt-2"> No hay imagen</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="mensaje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-5">Mensaje</th>
        <td mat-cell *matCellDef="let element" class="pl-5 pb-2 pt-2">
          {{ element.mensaje }}
        </td>
      </ng-container>
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
        <td mat-cell *matCellDef="let element" class="descripcionTd">
          {{ element.user_username }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-5">Fecha</th>
        <td mat-cell *matCellDef="let element" class="pr-5">
          {{ element.fecha_emision | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="delete-icon" (click)="deleteSugerencia(element)">  delete  </mat-icon
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  
  <app-crear-paquete></app-crear-paquete>
  <app-actualizar-paquete></app-actualizar-paquete>
  <ng-template #mytemplate >

        <mat-icon mat-button mat-dialog-close class="cancel-icon offset-11 pl-4" >  cancel  </mat-icon>

        <img src="{{ url_backend }}{{ imagenZoom }}"  class=" w-100" >
        <!--         <button mat-button mat-dialog-close class="btn btn-primary mt-5 botonCerrar offset-11">Cerrar</button>
 -->


  </ng-template>

