<div id="divFondo">
    <img src="../../../assets/fondo.png" alt="" class="img-fluid"alt="" id="fondoDiv">
    <div class="" id="containerLogo">
        <div class="mt-5 mb-4"> </div>
        <div id="formCol" class="mt-5 mb-5">
            <div class="justify-content-start container-fluid pt-3 ">
                <a routerLink="/login" class="btn btn-link" > Volver </a>
            </div>
            <div id="divImg" class="mt-4 ">
              <img src="assets/icons/LOGO.png" alt="" id="fondoImg">
            </div>
            
            <div id="" class="w-100 h-100">
              <form [formGroup]="recuperar_form" (submit)="onSubmit()">
                <div class="divInput pl-5 pr-5 mb-5">
                  <div class="form-group pl-4 pr-4">
                      <p id="text-info" class="font-weight-bold"> Ingresa tu nombre de usuario para recuperar tu contraseña</p>
                  </div>
                  
  
                  <div class="form-group pl-5 pr-5">
                    <input formControlName="username" placeholder="Nombre de usuario"  id="username" class="form-control pt-4 pb-3" name="username-address" required>
                  </div>
                  <span class="text-danger small pl-5 pr-5" *ngIf="recuperar_form.controls['username'].touched && recuperar_form.controls['username'].hasError('required')">
                    Username es requerido! </span>
                </div>
                <div class="mt-4 mb-4"> </div>
                <div id="divButton" class="mt-5">
                  <button [disabled]="!this.recuperar_form.valid" type="submit" class="btn">
                    Recuperar
                </button>
                </div>
            </form>
          </div>
      </div>
      <div class="mt-5 mb-4"> </div>

    </div>


</div>