#divFondo{
    width: 100%;
    height: 100%;
}

#fondoDiv{
    
    width: 100%;
    height: 100%;
    position: absolute;
}

#containerLogo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formCol{
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 100%;
    background: white;
    border-radius: 15px;

}



#divImg{
    text-align: center;
}
#fondoImg{
    width: 60%;
}

#divForm{
    width: 100%;
    height: 100%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.divInput{
    
    margin-top: 25px;
}
input{
    background: #edeef0;
    color: #87868a;
    font-size: 0.8em;
}


.form-group{
    margin-bottom: 20px;
}
a{
    color: #000000;
    font-size: 0.8em;
}
#divButton{
    padding: 0 15% 0;
    width: 100%;
}

button{
    width: 100%;
    margin-bottom: 30px;
    font-size: 0.85em;
    background: #a3c442;
    color: #ffffff;
    border-radius: 0px;
}

#text-info{
    font-size: 0.8rem;
    font-weight: bolder;

}